*.ali
*.out
*.aux
CMakeFiles/
CMakeCache.txt
CMakeDoxyfile.in
*.a
tester
CMakeDoxygenDefaults.cmake
cmake_install.cmake
Makefile
Doxyfile
docs/
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
.vscode
target/
*.o
*.y
maszyna_wirtualna
maszyna_wirtualna_cln
